html,
body {
  @apply bg-gray-600 text-black;
}

@layer utilities {
  .h-allscreen {
    @apply h-screen;
    height: calc(var(--realHeight, 100vh));
  }

  .min-h-allscreen {
    @apply min-h-screen;
    min-height: calc(var(--realHeight, 100vh));
  }

  .min-w-screen-60 {
    min-width: 60vh;
  }

  .min-h-screen-90 {
    min-height: 90vh;
  }

  .bg-blur-0 {
    backdrop-filter: blur(0px);
  }
  .bg-blur-5 {
    backdrop-filter: blur(5px);
  }
}
