html,
body {
  @apply bg-white text-black;
}

@layer utilities {
  .bg-blur-5 {
    backdrop-filter: blur(5px);
  }

  .min-w-screen-60 {
    min-width: 60vh;
  }

  .min-h-screen-90 {
    min-height: 90vh;
  }
}
