@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-black bg-gray-600;
}

@layer utilities {
  .h-allscreen {
    @apply h-screen;
    height: calc(var(--realHeight, 100vh));
  }

  .min-h-allscreen {
    @apply min-h-screen;
    min-height: calc(var(--realHeight, 100vh));
  }

  .min-w-screen-60 {
    min-width: 60vh;
  }

  .min-h-screen-90 {
    min-height: 90vh;
  }
}
